:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --primary: #0d6efd;
  --secondary: #6ea8fe;
  --tertiary: #084298;
  --success: #52c41a;
  --danger: #ff4d4f;
  --warning: #faad14;
  --info: #1890ff;
  --light-text: white;
}
.input {
  border: 1px solid #000;
  font-size: large;
  padding: 0.8rem;
  font-family: sans-serif;
  border-radius: 1.6rem;
  outline: none;
}
