:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --primary: #0d6efd;
  --secondary: #6ea8fe;
  --tertiary: #084298;
  --success: #52c41a;
  --danger: #ff4d4f;
  --warning: #faad14;
  --info: #1890ff;
  --light-text: white;
}
.toast {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
  max-width: fit-content;
  border-radius: 0.5rem;
  position: relative;
}
.toast--danger {
  background-color: var(--danger);
  color: var(--light-text);
}
.toast--safe {
  background-color: var(--success);
  color: var(--light-text);
}
.toast__close {
  position: absolute;
  top: 0;
  right: 0.2rem;
}
