:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --primary: #0d6efd;
  --secondary: #6ea8fe;
  --tertiary: #084298;
  --success: #52c41a;
  --danger: #ff4d4f;
  --warning: #faad14;
  --info: #1890ff;
  --light-text: white;
}
.badge-parent {
  position: relative;
}
.badge {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.badge__success {
  background-color: var(--success);
  color: var(--light-text);
}
.badge__danger {
  background-color: var(--danger);
  color: var(--light-text);
}
.badge__number {
  display: flex;
  justify-content: center;
  align-items: center;
}
