:root {
  font-size: 62.5%;
  font-family: sans-serif;
  --primary: #0d6efd;
  --secondary: #6ea8fe;
  --tertiary: #084298;
  --success: #52c41a;
  --danger: #ff4d4f;
  --warning: #faad14;
  --info: #1890ff;
  --light-text: white;
}
.img__responsive {
  width: 100%;
}
.image__container {
  max-width: 75rem;
}
